.field_hover {
  transition: background-color 0.3s ease-out;
}
.field_hover:hover {
  background-color: #55657e24;
}

.field_hover:hover > .pencil_hover {
  display: initial !important;
}

.pencil_hover:hover {
  cursor: pointer;
}
